<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<tx:annotation-driven transaction-manager="transactionManager"/>
	<context:component-scan base-package="com.luo"/>

	<!-- 第一步、打开Aop注解配置支持 -->
	<aop:aspectj-autoproxy/>
	
	
	<!-- properties文件配置 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="true">
		<property name="locations">
			<list>
				<value>classpath:redis.properties</value>
			</list>
		</property>
	</bean>
	
	
	<!-- 
	<bean id="memcachedPool" class="com.danga.MemCached.SockIOPool"
		factory-method="getInstance" init-method="initialize" destroy-method="shutDown">
		<constructor-arg>
			<value>neeaMemcachedPool</value>
		</constructor-arg>
		<property name="servers" value="${memcache.server}" />		
		<property name="initConn" value="${memcache.initConn}" />
		<property name="minConn" value="${memcache.minConn}" />			
		<property name="maxConn" value="${memcache.maxConn}" />			
		<property name="maintSleep" value="${memcache.maintSleep}" />			
		<property name="nagle" value="${memcache.nagle}" />			
		<property name="socketTO" value="${memcache.socketTO}"/>		
	</bean>
	<bean id="memcachedClient" class="com.danga.MemCached.MemCachedClient">
		<constructor-arg>
			<value>neeaMemcachedPool</value>
		</constructor-arg>
		<property name="compressEnable">
			<value>true</value>
		</property>
		<property name="compressThreshold">
			<value>4096</value>
		</property>
	</bean>
	 -->
	 
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxActive" value="${redis.pool.maxActive}" />
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
		<property name="maxWait" value="${redis.pool.maxWait}" />
		<property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
	</bean>
	<bean id="bean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.luo.service</value>
		</property>
		<property name="target">
			<value>com.luo.service</value>
		</property>
		<property name="proxyInterfaces">
			<value>com.luo.service</value>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource" /> 
	</bean> 
	 
	<!-- 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql:///springMVC" />
		<property name="maxIdleTime" value="25000" />
		<property name="properties">
			<props>
				<prop key="user">root</prop>
				<prop key="password"></prop>
				<prop key="c3p0.max_size">20</prop>
				<prop key="c3p0.min_size">5</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource"></property> 
		<property name="typeAliasesPackage" value="com.luo.pojo"/> 
	</bean> 
	
	<!-- 自动扫描Mapper --> 
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> 
	  <property name="basePackage" value = "com.luo.dao"/> 
	</bean> 
</beans>